/********\
* COLORS *
\********/
/********\
* FONTS  *
\********/
@font-face {
  font-family: "agendamediumultracondensed";
  src: url("../fonts/agenda-mediumultracondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-mediumultracondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendamedium_italic";
  src: url("../fonts/agenda-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/agenda-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendamediumextracondensed";
  src: url("../fonts/agenda-mediumextracondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-mediumextracondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendamediumcondensed";
  src: url("../fonts/agenda-mediumcondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-mediumcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendamedium";
  src: url("../fonts/agenda-medium-webfont.woff2") format("woff2"), url("../fonts/agenda-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendaboldultracondensed";
  src: url("../fonts/agenda-boldultracondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-boldultracondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendaboldextracondensed";
  src: url("../fonts/agenda-boldextracondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-boldextracondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendaboldcondensed";
  src: url("../fonts/agenda-boldcondensed-webfont.woff2") format("woff2"), url("../fonts/agenda-boldcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "agendabold";
  src: url("../fonts/agenda-bold-webfont.woff2") format("woff2"), url("../fonts/agenda-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*******************\
* Generic Functions *
\*******************/
.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-agenda-medium-ultra-condensed {
  font-family: "agendamediumultracondensed";
}

.font-agenda-medium-italic {
  font-family: "agendamedium_italic";
}

.font-agenda-medium-extra-condensed {
  font-family: "agendamediumextracondensed";
}

.font-agenda-medium-condensed {
  font-family: "agendamediumcondensed";
}

.font-agenda-medium {
  font-family: "agendamedium";
}

.font-agenda-bold-ultra-condensed {
  font-family: "agendaboldultracondensed";
}

.font-agenda-bold-extra-condensed {
  font-family: "agendaboldextracondensed";
}

.font-agenda-bold-condensed {
  font-family: "agendaboldcondensed";
}

.font-agenda-bold {
  font-family: "agendabold";
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-black-strong {
  background-color: #000;
}

.bg-green-dark-primary {
  background-color: #111B23;
}

.bg-green-dark-secondary {
  background-color: #172A2F;
}

.bg-green-light-primary {
  background-color: #9dae28;
}

.bg-green-light-secondary {
  background-color: rgb(244, 230, 174);
}

.text-black {
  color: rgba(0, 0, 0, 0.6);
}

.text-green-dark-primary {
  color: #111B23;
}

.text-green-dark-secondary {
  color: #172A2F;
}

.text-green-light-primary {
  color: #9dae28;
}

.text-green-light-secondary {
  color: rgb(244, 230, 174);
}

.h-100 {
  height: 100%;
}

.deg-white {
  width: 100%;
  height: 20px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(248, 248, 248)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(248, 248, 248)));
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f8f8f8", GradientType=0);
}

img.ramita {
  width: 60px;
}

.h-123 {
  height: 123px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-family: "agendabold";
  text-transform: uppercase;
  letter-spacing: -0.12rem;
}

h2 {
  color: #9dae28;
  font-family: "agendabold";
  text-transform: uppercase;
}

.hero-title--primary,
.hero-title--primary-2 {
  text-align: left;
  margin-top: 3rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.hero-title--secondary,
.hero-title--secondary-2 {
  text-align: left;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/**************\
* Custom Style *
\**************/
body {
  background-color: #f8f8f8;
  font-family: "Agenda";
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

p {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.my-5 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-date {
  margin-right: 3rem;
}

.border-green {
  border: 3px solid #9dae28;
  padding: 1rem 2rem;
  border-radius: 7% 5% 7% 5%;
  margin-top: 3rem;
}

.font-bold {
  font-weight: 600;
}

.py-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

header {
  height: 100vh;
  position: relative;
}
header img {
  max-height: 100vh;
  z-index: 2;
}
header .hero--wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  top: 0;
}
header .hero--wrapper h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: left;
}
header .hero--wrapper .hero-title--secondary {
  font-size: 1rem;
}
header .hero--wrapper .btn-inscription {
  background-color: #9dae28;
  color: #fff;
  border-radius: 0;
  padding: 10px 40px;
  border: 2px solid transparent;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 250px;
  font-size: 20px;
}
header .hero--wrapper .btn-inscription:hover {
  background-color: #172A2F;
}
header .hero--wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

#montana {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 330px;
  background: url("../img/patron/patron-banner-hero.png") repeat-x;
  left: 0;
  z-index: 99;
  opacity: 0.2;
}

#nav-mobile ul.navbar-nav li.nav-item a.nav-link {
  font-family: "agendabold" !important;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
}
#nav-mobile ul.navbar-nav li.nav-item a.nav-link:before {
  top: 5px;
  font-size: 17px;
}
#nav-mobile ul.navbar-nav li.nav-item a.nav-link.deactive {
  color: rgba(255, 255, 255, 0.6);
}
#nav-mobile ul.navbar-nav li.nav-item a.nav-link.deactive:before {
  color: rgba(255, 255, 255, 0.6);
}
#nav-mobile ul.navbar-nav li.nav-item a.nav-link.deactive:hover {
  color: rgba(255, 255, 255, 0.6);
}
#nav-mobile ul.navbar-nav li.nav-item a.nav-link.deactive:hover:hover:before {
  color: rgba(255, 255, 255, 0.6);
}
#nav-mobile ul.navbar-nav li.nav-item:hover {
  background-color: #9dae28;
}

#home {
  height: 100%;
  position: relative;
  margin-top: 20px;
}

#slideHero {
  position: relative;
  height: 100vh;
}
#slideHero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

#info-general {
  margin-top: 100px;
}
#info-general .col-info-date {
  padding-top: 4rem;
}
#info-general small.date {
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 43px;
}
#info-general img.principal {
  max-width: 80%;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-box-shadow: -22px -9px 73px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -22px -9px 73px -9px rgba(0, 0, 0, 0.75);
  border: 8px double #fff;
}
#info-general .sub-title {
  font-family: "agendamedium_italic";
  text-transform: none;
}
#info-general .btn-info-futangue {
  color: #9dae28;
}
#info-general .btn-info-futangue:hover {
  text-decoration: none;
  color: #172A2F;
}

#sponsor .col-sponsor {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#distances {
  position: relative;
}
#distances button {
  font-family: "agendabold";
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
}
#distances button small {
  font-size: 14px;
}
#distances button .span-hero {
  border-top: 4px solid rgb(244, 230, 174);
  border-bottom: 4px solid rgb(244, 230, 174);
  font-size: 80px;
}
#distances button .span-hero strong {
  margin-top: -25px;
  margin-bottom: -25px;
}
#distances button .span-hero small {
  font-size: 57px;
}
#distances button span.span-bot {
  font-size: 21px;
}
#distances button span.span-bot-k60 {
  font-size: 21px;
}
#distances button:focus {
  outline: none;
}
#distances button:hover {
  color: rgb(244, 230, 174);
}
#distances button:hover small {
  font-size: 14px;
}
#distances button:hover .span-hero {
  border-top: 4px solid rgb(244, 230, 174);
  border-bottom: 4px solid rgb(244, 230, 174);
  font-size: 80px;
}
#distances button:hover span.span-bot {
  font-size: 21px;
}
#distances button:hover span.span-bot-k60 {
  font-size: 21px;
}

#sold-tickets {
  margin-top: 20px;
}
#sold-tickets figure.figure-sold {
  position: relative;
}
#sold-tickets figure.figure-sold h1 {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px #9b9b9b;
  position: absolute;
  top: 40%;
  left: 10%;
}
#sold-tickets img.img-sold {
  height: 20px;
}
#sold-tickets p {
  font-size: 17px;
  color: rgba(33, 37, 41, 0.8);
}
#sold-tickets p ul li {
  font-size: 17px;
  color: rgba(33, 37, 41, 0.8);
}
#sold-tickets ul li {
  list-style-type: none;
}
#sold-tickets .btn.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#sold-tickets .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#sold-tickets .btn-money {
  font-size: 0.8rem;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
#sold-tickets .btn-money.active {
  background-color: #9dae28;
  border-color: #9dae28;
}
#sold-tickets .btn-money:hover {
  background-color: #9dae28;
  border-color: #9dae28;
}
#sold-tickets table {
  font-weight: bold;
}
#sold-tickets table thead th.th-active {
  border-top: 20px solid #9dae28;
  border-bottom: 1px solid #9dae28;
}
#sold-tickets table tbody td.td-active {
  border-bottom: 1px solid #9dae28;
}
#sold-tickets table tbody td.td-active:hover {
  background-color: rgb(244, 230, 174);
}
#sold-tickets table tbody td.td-active-end {
  border-bottom: 20px solid #9dae28;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sold-tickets a {
  background-color: #9dae28;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}
#sold-tickets a:hover {
  color: #fff;
  background-color: #172A2F;
  font-weight: bold;
}

#how-to-get h2 {
  font-size: 40px;
}

.mt-mobile {
  margin-top: 2rem;
}

footer .icon-social a {
  color: #fff;
  border: 2px solid transparent;
  font-size: 2rem;
}
footer .icon-social a:hover {
  color: #9dae28;
  border: 2px solid transparent;
}
footer img {
  height: 100px;
}
footer img.img-footer {
  margin-top: 6px;
  margin-bottom: 6px;
}
footer img.img-sporthub {
  width: 120px;
}
footer a.contact {
  color: #fff;
}
footer a.contact:hover {
  color: #9dae28;
  text-decoration: none;
}

.timetrack-footer {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-top: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 1rem;
}
.timetrack-footer a {
  color: #fff;
  text-decoration: none;
}
.timetrack-footer a:hover {
  color: rgb(248, 102, 36);
}

@media (min-width: 768px) {
  .hero-title--primary,
  .hero-title--secondary {
    font-size: 4rem !important;
  }
  img.ramita {
    width: 60px;
  }
  .h-123 {
    height: 123px;
  }
  h1 {
    font-size: 3rem;
    font-family: "agendabold";
    text-transform: uppercase;
    letter-spacing: -0.12rem;
  }
  h2 {
    color: #9dae28;
    font-size: 43px;
    font-family: "agendabold";
    text-transform: uppercase;
  }
  .border-green {
    border: 3px solid #9dae28;
    padding: 1rem 2rem;
    border-radius: 25% 25% 25% 25%;
  }
  .header .hero--wrapper .hero-title--secondary {
    font-size: 4rem !important;
  }
  #montana {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 330px;
    background: url("../img/patron/patron-banner-hero.png") repeat-x;
    left: 0;
    z-index: 1;
    opacity: 0.1;
  }
  #nav-desktop img {
    height: 100px;
  }
  #nav-desktop .custom-navbar-nav {
    margin-right: 0;
  }
  #nav-desktop .custom-navbar-nav li a.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
  }
  #nav-desktop .custom-navbar-nav li a.nav-link:before {
    font-size: 30px;
  }
  #nav-desktop .custom-navbar-nav li a.nav-link.deactive {
    color: rgba(255, 255, 255, 0.6);
  }
  #nav-desktop .custom-navbar-nav li a.nav-link.deactive:before {
    color: rgba(255, 255, 255, 0.6);
  }
  #nav-desktop .custom-navbar-nav li a.nav-link.deactive:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  #nav-desktop .custom-navbar-nav li a.nav-link.deactive:hover:hover:before {
    color: rgba(255, 255, 255, 0.6);
  }
  #nav-desktop .custom-navbar-nav li a.nav-link:hover {
    color: #9dae28;
  }
  #nav-desktop .custom-navbar-nav li a.nav-link:hover:hover:before {
    color: #9dae28;
  }
  #nav-desktop .custom-navbar-nav li a.nav-link .span-a {
    display: block;
    font-family: "agendabold" !important;
  }
  #nav-desktop .custom-navbar-nav li a.active {
    color: #9dae28;
    background-color: transparent;
  }
  #nav-desktop .custom-navbar-nav li a.active:before {
    color: #9dae28;
  }
  #home {
    margin-top: 0;
    height: 100%;
    position: relative;
  }
  #info-general .col-info-date {
    padding-top: 0;
  }
  #sponsor .col-sponsor {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #distances button small {
    font-size: 20px;
  }
  #distances button .span-hero {
    width: 100%;
    text-align: center;
    border-top: 4px solid rgb(244, 230, 174);
    border-bottom: 4px solid rgb(244, 230, 174);
    font-size: 90px;
  }
  #distances button .span-hero strong {
    margin-top: -25px;
    margin-bottom: -25px;
  }
  #distances button .span-hero small {
    font-size: 64px;
  }
  #distances button span.span-bot {
    font-size: 31px;
  }
  #distances button span.span-bot-k60 {
    font-size: 31px;
  }
  #distances button strong.distance-mas {
    margin-left: -5px;
  }
  #distances button:hover {
    color: rgb(244, 230, 174);
  }
  #distances button:hover small {
    font-size: 20px;
  }
  #distances button:hover .span-hero {
    border-top: 4px solid rgb(244, 230, 174);
    border-bottom: 4px solid rgb(244, 230, 174);
    font-size: 90px;
  }
  #distances button:hover .span-hero small {
    font-size: 64px;
  }
  #distances button:hover span.span-bot {
    font-size: 31px;
  }
  #distances button:hover span.span-bot-k60 {
    font-size: 31px;
  }
  #distances button:hover strong.distance-mas {
    margin-left: -5px;
  }
  #sold-tickets figure.figure-sold {
    position: relative;
  }
  #sold-tickets figure.figure-sold h1 {
    color: #fff;
    text-shadow: 2px 2px #9b9b9b;
    position: absolute;
    top: 40%;
    left: 25%;
  }
  #sold-tickets img.img-sold {
    height: 20px;
  }
  #how-to-get h2 {
    font-size: 40px;
  }
  .mt-mobile {
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */
