.slider-sponsor {
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    margin-top: 2rem;
  }
  
  .slider-sponsor .slide-sponsor-track {
    display: flex;
    align-items: end;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px*11);
  }
  
  .slider-sponsor .slide-sponsor {
    padding: 1rem;
  }
  
  .slider-sponsor .slide-sponsor img {
    width: 100%;
    height: auto!important;
  }
  
  @keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  
    100% {
        transform: translateX(calc(-200px * 4));
        -webkit-transform: translateX(calc(-200px * 4));
    }
  }

  @media (min-width: 768px) {
    .slider-sponsor {
        margin-top: 5rem;
    }
  }